.getInTouch h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.icon {
  display: flex;
;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.svgIcon {
  width: 30px;
  height: 30px;
  color: #68d372;
}

.icon:hover .svgIcon {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .getInTouch {
    width: 100%;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}