/* Contenedor general */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100vh - 50px);
    padding: 0 50px 0 375px;
    background-color: #222222;
    color: white;
    font-family: "Poppins", sans-serif;
}

.textContainer {
    max-width: 35%;
}

h1 {
    font-size: 4em;
    font-weight: 800; /* Incrementa el grosor del texto */
}

.name {
    color: #68d372;
    font-size: 1.5em;
    font-weight: 800; /* Incrementa el grosor del texto */
}
/* Contenedor para Typewriter con altura fija */
.typewriterWrapper {
    height: 200px;
    display: flex;
    overflow: hidden; /* Evita que el texto que sobresale se muestre */
    font-size: 4em;
    font-weight: 800; /* Incrementa el grosor del texto */
}

/* Tipo de letra */
.role {
    font-size: 3em;
    font-weight: 800; /* Ajusta el grosor del texto si es necesario */
    white-space: nowrap; /* Evita el salto de línea dentro del elemento */
    margin: 0; /* Asegúrate de eliminar cualquier margen que pueda afectar el espaciado */
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
}


.description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #cccccc;
    margin-bottom: 30px;
    overflow: hidden; /* Esto evita que el texto que sobresale se muestre */

}

.buttons {
    display: flex;
    gap: 20px;
}

.resumeButton,
.contactButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.contactButton {
    background-color: transparent;
    border: 2px solid #4caf50;
}

.resumeButton:hover,
.contactButton:hover {
    background-color: #45a049;
    color: white;
}

.imageContainer {
    width: 45%;
    height: 100%;
    background-image: url('./path-to-your-image.png');
    background-size: cover;
    background-position: center;
}

/* Clase para texto animado */
.introP {
    font-weight: bold;
    display: inline-block;
    transition: color 0.4s ease-in-out;
}

.introP:hover {
    color: #68d372;
    animation: rubberBand 1s;
}

/* Definición de la animación rubberBand */
@keyframes rubberBand {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    50% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    65% {
        transform: scaleX(0.95) scaleY(1.05);
    }
    75% {
        transform: scaleX(1.05) scaleY(0.95);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

