/* Contenedor general */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100vh - 50px);
    padding: 0 50px 0 375px;
    background-color: #222222;
    color: white;
    font-family: "Poppins", sans-serif;
}

.textContainer {
    max-width: 35%;
}

h1 {
    font-size: 5em;
    font-weight: 1000; /* Incrementa el grosor del texto */
    margin-bottom: 0; /* Elimina el margen inferior */
    user-select: none;
}

.name {
    color: #68d372;
    font-size: 1.5em;
    font-weight: 800; /* Incrementa el grosor del texto */
    user-select: none;
    position: relative; /* Necesario para posicionar ::before */
}

.myName::before {
    content: "";
    width: 130px;
    height: 3px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 30%; /* Ajusta esta posición según sea necesario */
    transform: translateY(-50%); /* Centra verticalmente la línea */
    left: -140px; /* Ajusta la distancia según sea necesario */
}



/* Contenedor para Typewriter con altura fija */
.typewriterWrapper {
    height: 200px;
    display: flex;
    overflow: hidden; /* Evita que el texto que sobresale se muestre */
    font-size: 4em;
    font-weight: 800; /* Incrementa el grosor del texto */
}

/* Tipo de letra */
.role {
    font-size: 3em;
    font-weight: 800; /* Ajusta el grosor del texto si es necesario */
    white-space: nowrap; /* Evita el salto de línea dentro del elemento */
    margin: 0; /* Asegúrate de eliminar cualquier margen que pueda afectar el espaciado */
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
    user-select: none;
}

.description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #6e6e6ebb;
    margin-bottom: 30px;
    margin-top: 0;
    overflow: hidden; /* Esto evita que el texto que sobresale se muestre */
    font-weight: normal !important; /* Asegúrate de que el texto no esté en negrita */
    user-select: none;
}

.introP {
    font-weight: bold; /* Aplica negrita al texto con esta clase */
    display: inline-block;
    transition: color 0.4s ease-in-out;
    color: #6E6E6E;
}

.introP:hover {
    color: #68d372;
    animation: rubberBand 1s;
}

/* Definición de la animación rubberBand */
@keyframes rubberBand {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    50% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    65% {
        transform: scaleX(0.95) scaleY(1.05);
    }
    75% {
        transform: scaleX(1.05) scaleY(0.95);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

.buttons {
    display: flex;
    gap: 20px;
}

.cvDownload {
    color: #ffffff;
    border: none;
    background-color: #68d372;
    padding: 15px 80px; /* Aumenta el padding para hacer el botón más grande */
    border-radius: 6px; /* Aumenta el radio del borde para un botón más grande y redondeado */
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3em; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea más negrita */
    white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
}

.contactButton {
    color: #ffffff;
    border: 2px solid #68d372;
    background-color: transparent;
    padding: 15px 80px; /* Asegura que el padding sea el mismo que el botón cvDownload */
    border-radius: 6px; /* Aumenta el radio del borde para un botón más grande y redondeado */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea más negrita */
    width: auto; /* Ajusta el ancho al contenido */
    white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
    background-image: linear-gradient(to right, #68d372 50%, transparent 50%); /* Gradiente para la transición */
    background-size: 200% 100%; /* Doble tamaño para la transición */
    background-position: right bottom; /* Inicialmente el gradiente está a la derecha */
    transition: background-position 0.3s ease-in-out; /* Transición de la posición del gradiente */
}

.contactButton:hover {
    background-position: left bottom; /* Cambia la posición del gradiente al pasar el ratón */
}

.icon {
    margin-right: 8px;
    font-size: 1.2em;
    color: white; /* Asegúrate de que el icono sea blanco */
}

.contactButton:hover .icon {
    color: white; /* Mantén el color blanco del icono al pasar el ratón */
}

.imageContainer {
    width: 45%;
    height: 100%;
    background-image: url('./path-to-your-image.png');
    background-size: cover;
    background-position: center;
}
