/* Button.module.css */
.button {
    position: relative;
    display: inline-block;
    color: white;
    padding: 10px 15px; /* Ajusta el padding si es necesario */
    cursor: pointer;
    margin: 0 !important; 
    border-radius: 4px;
    background-color: transparent; /* Inicialmente transparente para efecto de transición */
    transition: color 0.2s ease, background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
    font-size: 1em; /* Tamaño del texto */
    font-weight: 600; /* Grosor del texto */
    letter-spacing: -1px; /* Ajusta el espaciado entre letras para hacerlo más estrecho */
    line-height: 1.2; /* Ajusta la altura de la línea para hacer el texto más alto */
}

.button:hover {
    color: #68d372; /* Color del texto al pasar el ratón */
    background-color: rgba(104, 211, 114, 0.1); /* Color de fondo al pasar el ratón */
    border-color: #68d372; /* Color del borde al pasar el ratón */
}

@media (max-width: 1024px) {
    .button {
        padding: 10px 20px;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
