.quickLinks h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.quickLinks ul {
  list-style-type: none;
  padding: 0;
}

.quickLinks li {
  font-family: sans-serif;
  margin-bottom: 0.7rem;
}

.quickLinks a {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
}

.quickLinks a:hover {
  color: #4CAF50;
}

@media (max-width: 768px) {
  .quickLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quickLinks li {
    margin: 0 10px 10px;
  }
}