.fondo2{
  background-color: #fff;

}
.fondo {
  background-color: #fff;
  margin-bottom: 0;
  opacity: 0; /* Inicialmente transparente */
  transform: translateY(100px); /* Inicialmente desplazado hacia abajo */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Transiciones para opacidad y movimiento */
}

.visible {
  opacity: 1; /* Opacidad completa cuando es visible */
  transform: translateY(0); /* Regresa a su posición original */
}

.hidden {
  opacity: 0; /* Transparente cuando deja de ser visible */
  transform: translateY(100px); /* Desplazado hacia abajo cuando deja de ser visible */
}

.formContainer {
  padding: 2rem 1rem;
  background-color: #fff;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 0;
  position: relative;
}

.contactTitle {
  text-align: center;
  color: #68d372;
  font-size: 28px;
  position: relative;
}

.contactTitle::before {
  display: none;
}

/* Estilos para pantallas a partir de 1024px */
@media (min-width: 1024px) {
  .contactTitle::before {
    content: "";
    width: 2px;
    height: 200px;
    display: block;
    position: absolute;
    background-color: #68d372;
    top: -110px;
    left: 50%;
    transform: translateY(-50%);
  }
}
.mainTitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: -20px;
  font-weight: bold;
  text-align: center;
  color: #222222;
}

.greenText {
  color: #68d372;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.input, .textarea {
  color: #222222;
  font-family: sans-serif;
  margin-top: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}

.textarea {
  height: 100px;
  resize: vertical;
}

.button {
  font-family: sans-serif;
  background-color: #68d372;
  color: white;
  margin-top: 2rem;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.sendIcon {
  margin-right: 0.5rem;
}

.illustration {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}

.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: sans-serif, Courier, monospace;
}

.success {
  color: green;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .formContainer {
    padding: 2rem;
  }

  .contactTitle {
    font-size: 32px;
  }


  .mainTitle {
    font-size: 3rem;
    margin-top: -30px;
  }

  .contentWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form {
    width: 60%;
    margin-right: 2rem;
  }

  .illustration {
    width: 35%;
    margin-top: 0;
  }

  .button {
    width: auto;
    margin-left: auto;
  }
}

