.fondo {
    background-color: #fff;
  }

.bioContainer {
  background-color: #fff;
  padding: 80px 0;
  opacity: 0; /* Inicialmente transparente */
  transform: translateY(100px); /* Inicialmente desplazado hacia abajo */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones para opacidad y movimiento */
}

.bioContainer.visible {
  opacity: 1; /* Opacidad completa cuando es visible */
  transform: translateY(0); /* Regresa a su posición original */
}

.bioContainer.hidden {
  opacity: 0; /* Transparente cuando deja de ser visible */
  transition: opacity 1s ease, transform 1s ease; /* Transición suave */
}

.bioContainer.hidden.up {
  transform: translateY(100px); /* Desplazado hacia arriba cuando deja de ser visible */
}

.bioContainer.hidden.down {
  transform: translateY(100px); /* Desplazado hacia abajo cuando deja de ser visible */
}
  
  .sectionTitle {
    text-align: center;
    color: #68d372;
    margin-bottom: 60px;
    font-size: 28px;
  }
  
  .bioContent {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
  }
  
  .imageContainer {
    flex: 1;
    position: relative;
  }

  
  .profileImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .textContent {
    flex: 1;
  }
  
  .mainTitle {
    color: #68d372;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
  }
  
  .highlight {
    color: #222222;
  }
  
  .paragraph {
    color: #6E6E6E;
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 10 !important; /* Valor ajustado para un texto más fino */
  }
  