.milestonesContainer {
  background-color: #222222;
  padding: 40px;
  color: #ffffff;
  position: relative;
}

.title {
  text-align: center;
  color: #68d372;
  margin-bottom: 60px;
  font-size: 36px; /* Aumenta el tamaño de fuente del título */
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #68d372;
  height: 200px; /* Ajusta la altura de la línea encima del título */
  top: -200px; /* Posiciona la línea justo encima del título */
  left: 50%; /* Centra la línea horizontalmente */
  transform: translateX(-50%);
  z-index: 0; /* Envía la línea detrás del texto del título */
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #68d372;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1.5px; /* Ajusta el centrado de la línea vertical */
  z-index: 0; /* Asegura que esté detrás de otros elementos */
}

