.milestonesContainer {
  background-color: #222222;
  padding: 40px;
  color: #ffffff;
  position: relative;
}

.title {
  text-align: center;
  color: #68d372;
  margin-bottom: 60px;
  font-size: 36px; /* Aumenta el tamaño de fuente del título */
  position: relative;
}

.title::before {
  content: "";
  width: 2px; /* Ancho de la línea vertical */
  height: 200px; /* Altura de la línea vertical */
  position: absolute;
  background-color: #68d372;
  top: -110px; /* Centra verticalmente la línea en el contenedor */
  left: 65%; /* Colocado al inicio del contenedor */
  transform: translateY(-50%); /* Ajusta para centrarse verticalmente */
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #68d372;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1.5px; /* Ajusta el centrado de la línea vertical */
  z-index: 0; /* Asegura que esté detrás de otros elementos */
}

