.fondo {
  background-color: #fff;
}

.fullWidthContainer {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  border: none;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.fullWidthContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.fullWidthContainer.hidden {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.fullWidthContainer.hidden.up {
  transform: translateY(-100px);
}

.fullWidthContainer.hidden.down {
  transform: translateY(100px);
}

.contentContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  color: #68d372;
  margin-bottom: 60px;
  font-size: 28px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.rightColumn {
  max-width: 700px;
  flex: 2;
}

.leftColumn {
  max-width: 700px;
  font-size: 3em;
  flex: 1;
  position: relative;
}

.Linea::before {
  display: none;
}

/* Estilos para pantallas a partir de 1024px */
@media (min-width: 1024px) {
  .Linea::before {
    content: "";
    width: 130px;
    height: 3px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: -50px;
    transform: translateY(10px);
    left: -150px;
  }
}


.stat {
  max-height: 175px;
  display: flex;
  align-items: center;
  position: relative;
}

.statTitle {
  color: #222222;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.highlight {
  color: #68d372;
}

.sectionTitle {
  color: #222222;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  position: relative;
}

.sectionTitle::before {
  content: "";
  width: 3px;
  height: 100%;
  display: block;
  background-color: #68d372;
  position: absolute;
  top: 0;
  left: -25px;
}

.paragraph {
  color: #6E6E6E;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 17px;
  font-weight: 300 !important;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }

  .leftColumn, .rightColumn {
    max-width: 100%;
  }

  .sectionTitle {
    font-size: 3em;
  }

  .sectionTitle::before,
  .Linea::before {
    left: -20px;
  }

  .statTitle {
    font-size: 1em;
  }

  .icon {
    width: 80px;
    height: 80px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .fullWidthContainer {
    padding: 40px 0;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .content {
    gap: 30px;
  }

  .sectionTitle {
    font-size: 2em;
  }

  .statTitle {
    font-size: 0.8em;
  }

  .icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .paragraph {
    font-size: 15px;
  }

  .sectionTitle::before,
  .Linea::before {
    left: -10px;
  }

  .Linea::before {
    width: 80px;
  }
}