.fondo {
  background-color: #fff;
}

.fullWidthContainer {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  border: none;
  opacity: 0; /* Inicialmente transparente */
  transform: translateY(100px); /* Inicialmente desplazado hacia abajo */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones para opacidad y movimiento */
}

.fullWidthContainer.visible {
  opacity: 1; /* Opacidad completa cuando es visible */
  transform: translateY(0); /* Regresa a su posición original */
}

.fullWidthContainer.hidden {
  opacity: 0; /* Transparente cuando deja de ser visible */
  transition: opacity 1s ease, transform 1s ease; /* Transición suave */
}

.fullWidthContainer.hidden.up {
  transform: translateY(-100px); /* Desplazado hacia arriba cuando deja de ser visible */
}

.fullWidthContainer.hidden.down {
  transform: translateY(100px); /* Desplazado hacia abajo cuando deja de ser visible */
}

.sectionTitle::before {
  content: "";
  width: 3px; /* Ancho de la línea vertical */
  height: 100%; /* Altura de la línea vertical, para que se ajuste al tamaño del texto */
  display: block;
  background-color: #68d372;
  position: absolute;
  top: 0; /* Ajusta según el posicionamiento deseado */
  left: -150px; /* Ajusta esta posición según sea necesario */
}

.contentContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  color: #68d372;
  margin-bottom: 60px;
  font-size: 28px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.rightColumn {
  max-width: 700px;
  flex: 2;
}

.leftColumn {
  max-width: 700px;
  font-size: 3em;
  flex: 1;
  position: relative; /* Asegura que el posicionamiento absoluto de .Linea::before esté relativo a esta columna */
}

.Linea::before {
  content: "";
  width: 130px;
  height: 3px;
  display: block;
  background-color: #68d372;
  position: absolute;
  top: -50px; /* Ajusta para colocar la línea en la parte superior de la columna */
  transform: translateY(10px); /* Ajusta para mover la línea ligeramente hacia abajo si es necesario */
  left: -150px; /* Ajusta esta posición según sea necesario para alinear con el texto */
}

.stat {
  max-height: 175px;
  display: flex;
  align-items: center;
  position: relative; /* Asegura que los elementos dentro de .stat se alineen en relación con esta clase */
}

.statTitle {
  color: #222222;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.highlight {
  color: #68d372;
}

.sectionTitle {
  color: #222222;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
}

.sectionTitle::before {
  content: "";
  width: 3px; /* Ancho de la línea vertical */
  height: 100%; /* Altura de la línea vertical, para que se ajuste al tamaño del texto */
  display: block;
  background-color: #68d372;
  position: absolute;
  top: 0; /* Ajusta según el posicionamiento deseado */
  left: -150px;
}

.paragraph {
  color: #6E6E6E;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 17px;
  font-weight: 10 !important; /* Valor ajustado para un texto más fino */
}
