.support h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #333;
}

.support ul {
  list-style-type: none;
  padding: 0;
}

.support li {
  font-family: sans-serif;
  margin-bottom: 0.7rem;
  color: #666;
  text-decoration: none;
  font-size: 1.2rem;
}

.support li:hover {
  color: #4CAF50;
  cursor: pointer;
}

@media (max-width: 768px) {
  .support ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .support li {
    margin: 0 10px 10px;
  }
}