.footer {
  background-color: #fff;

  padding-bottom: 4rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}