.footer {
    background-color: grey;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666;
  }