.footer {
  background-color: #fff;
  padding-bottom: 4rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerContent > div {
    margin-bottom: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footerContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footerContent > div {
    flex-basis: 45%;
    margin-bottom: 2rem;
  }
}