.container {
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}

.sectionTitle {
  position: relative; /* Asegura que el pseudoelemento se posicione en relación con este contenedor */
  text-align: center;
  color: #68d372;
  margin-bottom: 60px;
  font-size: 28px;
}

.sectionTitle::before {
  content: "";
  width: 3px; /* Ancho de la línea vertical */
  height: 200px; /* Altura de la línea vertical */
  position: absolute;
  background-color: #68d372;
  top: -150px; /* Centra verticalmente la línea en el contenedor */
  left: 50%; /* Colocado al inicio del contenedor */
  transform: translateY(-50%); /* Ajusta para centrarse verticalmente */
}

.swiperContainer {
  padding: 2rem 0;
}

.swiperSlide {
  width: 450px; /* Aumenta el ancho de las tarjetas */
  height: 700px; /* Aumenta la altura de las tarjetas */
  background-color: transparent;
}

.swiperSlide-active { 
  transform: scale(1.1); /* Escala la tarjeta activa */
}

.sliderController {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.swiperPagination {
  margin-top: 10px;
  position: relative;
  width: auto !important;
}

.swiperPaginationBullet {
  background-color: #ccc !important; /* Gris para los bullets no activados */
  width: 10px; /* Tamaño base de los bullets */
  height: 10px; /* Tamaño base de los bullets */
  border-radius: 50%; /* Asegura que los bullets sean redondos */
  margin: 0 10px; /* Espaciado entre los bullets */
  display: inline-block; /* Asegura que los bullets se comporten como elementos en línea */
  transition: width 0.3s ease, height 0.3s ease; /* Transición suave para el cambio de tamaño */
}

.swiperPaginationBulletActive {
  background-color: #68d372 !important; /* Verde para el bullet activo */
  width: 15px; /* Tamaño aumentado del bullet activo */
  height: 15px; /* Tamaño aumentado del bullet activo */
}

.sliderArrow {
  background-color: #68d372;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 1rem;
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.sliderArrow:active,
.sliderArrow:focus {
  background-color: #4caf50; /* Cambia el color a #68d372 cuando el botón está activo o enfocado */
}
