.wave {
  position: relative;
  margin-top: 0;
  top: 0;
  left: 0;
  display: block; /* Asegúrate de que el SVG se muestre correctamente */
}

.path0 {
  animation: pathAnim-0 4s linear infinite;
}

/* Definir las animaciones del path */
@keyframes pathAnim-0 {
  0% {
    d: path("M0,400 C0,400 0,200 0,200 C62.43,168.30 124.87,136.61 219,129 C313.13,121.39 438.97,137.88 522,143 C605.03,148.12 645.27,141.87 718,158 C790.73,174.13 895.97,212.65 974,232 C1052.03,251.35 1102.87,251.53 1176,243 C1249.13,234.47 1344.57,217.24 1440,200 C1440,200 1440,400 1440,400 Z");
  }
  25% {
    d: path("M0,400 C0,400 0,200 0,200 C70.94,195.99 141.88,191.98 233,204 C324.12,216.02 435.43,244.07 515,256 C594.57,267.93 642.40,263.73 713,261 C783.60,258.27 876.97,257.00 956,252 C1035.03,247.01 1099.72,238.29 1178,229 C1256.28,219.71 1348.14,209.86 1440,200 C1440,200 1440,400 1440,400 Z");
  }
  50% {
    d: path("M0,400 C0,400 0,200 0,200 C79.91,201.23 159.82,202.46 249,214 C338.18,225.54 436.63,247.38 516,262 C595.37,276.62 655.67,284 722,263 C788.33,242.00 860.71,192.62 948,171 C1035.29,149.38 1137.51,155.54 1222,165 C1306.49,174.46 1373.24,187.23 1440,200 C1440,200 1440,400 1440,400 Z");
  }
  75% {
    d: path("M0,400 C0,400 0,200 0,200 C60.45,191.86 120.91,183.72 202,180 C283.09,176.28 384.82,176.99 481,186 C577.18,195.01 667.80,212.33 757,221 C846.20,229.67 933.98,229.68 997,234 C1060.02,238.32 1098.29,246.95 1168,242 C1237.71,237.05 1338.85,218.53 1440,200 C1440,200 1440,400 1440,400 Z");
  }
  100% {
    d: path("M0,400 C0,400 0,200 0,200 C62.43,168.30 124.87,136.61 219,129 C313.13,121.39 438.97,137.88 522,143 C605.03,148.12 645.27,141.87 718,158 C790.73,174.13 895.97,212.65 974,232 C1052.03,251.35 1102.87,251.53 1176,243 C1249.13,234.47 1344.57,217.24 1440,200 C1440,200 1440,400 1440,400 Z");
  }
}
