.navbar {
  width: 100%;
  background-color: #222222;
  color: white;
  height: 105px;
  border-bottom: 1px solid #222222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Ajusta la sombra para que sea más oscura */
  position: relative; /* Asegura que los elementos posicionados dentro se alineen en relación con esta barra */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea los elementos verticalmente */
  max-width: 1625px; /* Limita el ancho del contenido */
  margin: 0 auto; /* Centra el contenido dentro de la navbar */
  height: 100%; /* Asegura que el contenedor tenga la misma altura que la navbar */
  position: relative; /* Permite que los elementos dentro se alineen en relación con este contenedor */
}

.logo {
  font-family: "Poppins";
  background-color: #68d372;
  padding: 40px 12.5px 10px 12.5px; /* Reduce el padding para alinear el texto mejor */
  font-size: 2em;
  color: white;
  font-weight: 1000; /* Ajusta el grosor del texto */
  line-height: 1; /* Asegura que el texto esté alineado verticalmente */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 0; /* Elimina el margen superior que podría estar empujando el logo hacia abajo */
  margin-bottom: auto; /* Permite que el logo se adhiera al borde superior del contenedor */
}

.links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin: 0 1rem;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: normal;
}

.cvDownload {
  color: #ffffff;
  border: none;
  background-color: #68d372;
  padding: 12.5px 17.5px; /* Aumenta el padding para hacer el botón más grande */
  border-radius: 6px; /* Aumenta el radio del borde para un botón más grande y redondeado */
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem; /* Aumenta el tamaño del texto */
  font-weight: bold; /* Hace que el texto sea más negrita */
}

.icon {
  margin-right: 15px; /* Aumenta el margen derecho para mayor separación del texto */
  font-size: 1.7rem; /* Aumenta el tamaño del icono */
}
