/* Typewriter.module.css */
.typewriter {
  display: inline-block;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
}

.cursor {
  display: inline;
  margin-left: 1px;
  animation: Typewriter-cursor 1s infinite;
}

@keyframes Typewriter-cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .typewriter {
    font-size: 0.9em;
    text-align: center;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .typewriter {
    font-size: 0.8em;
    text-align: center;
  }
}