.typewriter {
  display: inline-block;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1em;
  margin-top: 0; /* Elimina cualquier margen superior */
  padding-top: 0; /* Elimina cualquier padding superior */
  line-height: 1; /* Ajusta la altura de la línea */
}


.cursor {
  display: inline;
  margin-left: 1px; /* Añade un pequeño margen a la izquierda del cursor */
  -webkit-animation: Typewriter-cursor 1s infinite; /* Aplicar animación en WebKit */
  animation: Typewriter-cursor 1s infinite; /* Aplicar la animación en otros navegadores */
}

/* Animación del cursor parpadeante */
@-webkit-keyframes Typewriter-cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes Typewriter-cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
